body
{
  padding: 0px;
  margin: 32px;

  color: #0084ff;
  font-size: 2.5em;
  background-color: #010a0d;
  background-repeat: no-repeat;
  background-position: 800px 22px;
  background-attachment: fixed;
  font-family: consolas,arial;
}

a
{
  color: #FFF;
  text-decoration: none;
  cursor:hand;
  cursor:pointer;
}

#main
{
  width: 100%;
  padding-left: 20px;
}

#header
{
}
